name: github-action-NICteam
run-name: ${{ github.actor }} is learning GitHub Actions with PowerShell on ubuntu
on: [push]
jobs:
  deploy:
    runs-on: windows-latest
    steps:
      # Step 1: Run the PowerShell Hello
      - uses: actions/checkout@v4
      - name: Run Continuous Integration
        shell: pwsh
        run: |
          Write-Host "Hello from PowerShell on ubuntu!"
          Write-Output "try Get-NetLbfoTeam:"
          Get-NetLbfoTeam | Select-Object Status, TeamingMode
          Write-Output "try Get-VMSwitchTeam:"
          Get-VMSwitchTeam
          Write-Output "Current date and time is: $(Get-Date)"
# Invoke-Pester -Path .\Tests\helloWorld.Tests.ps1 -Output Detailed
# $date = Get-Date
